<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <script>

        window.onload = function (){

            const form = document.formUser;

            form.onsubmit = function (e) {
                e.preventDefault();

                const jsonData = {
                    "uid" : form.uid.value,
                    "pass" : form.pass.value
                };

                fetch('/ch10/login', {
                        method: 'POST',
                        headers: {'Content-type' : 'application/json'},
                        body: JSON.stringify(jsonData)
                })
                    .then(response => {
                        if (!response.ok){
                            throw new Error('Not_Found');
                        }
                        return response.json()
                   })
                    .then(data => {
                        console.log(data);
                        // 회원일 경우
                        localStorage.setItem("grantType", data.grantType);
                        localStorage.setItem("accessToken", data.access);

                        // 이동
                        location.href = '/ch10/user/list';
                    })
                   .catch(err =>{
                        console.log(err);
                       // 회원이 아닐 경우
                       alert('회원 아님');
                    });
            }
        }

    </script>

</head>
<body>
    <h4>로그인</h4>
    <form name="formUser" method="post">
        <input type="text" name="uid"><br>
        <input type="password" name="pass"><br>
        <input type="submit" value="login"><br>
    </form>
</body>
</html>